#header {
    background-color: white;
    display: grid;
    grid-template-columns: 7rem auto 7rem;
    left: 0;
    max-width: 100%;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100vw;

    @include mq( medium ) {
        grid-template-columns: 12rem auto 12rem;
        padding: 1rem;
    }

    @include mq( large ) {
        grid-template-columns: 17rem auto 17rem;
    }

    @include mq( xlarge ) {
        grid-template-columns: 22rem auto 22rem;
    }

    .brand {
        &-link {
            align-items: center;
            display: flex;
            justify-content: center;

            @include mq( medium ) {
                display: none;
            }
        }
        &-logo {
            width: 7rem;
        }
        &-name {

        }
    }
    
    .site-branding,
    .site-search {
        align-items: center;
        display: flex;
        justify-content: center;

        .dashicons, 
        .dashicons-before:before {
            font-size: 2.7rem;
            height: initial;
            width: initial;

            @include mq( medium ) {
                font-size: 2.4rem;
            }
        
            @include mq( large ) {
                font-size: 2.8rem;
            }
        
            @include mq( xlarge ) {
                font-size: 3.2rem;
            }
        }
    }

    .not-display {
        display: none;
    
        @include mq( medium ) {
            display: inline;
        }
    }

    .search{
        left: 0;
        position: absolute;
        top: 7.2rem;
        width: 100%;
        
        #search-form {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: .5rem;

            label {
                text-align: left;
                flex: 1 0 100%;
            }

            input[type="search"] {
                font-size: 25px;
                padding: .5rem;
                flex: 1 0 80%;
                max-width: 100vw;
                width: 100%;

                &::placeholder {
                    color: blue;
                }
            }

            button[type="submit"] {
                flex: 0 0 auto;
            }
        }
        
        .search-icon {
            align-items: center;
            display: flex;
            height: 4rem;
            justify-content: center;
            width: 4rem;
        }
        
    }

}