.single {
    $site-width: 1140px;
    background-color: $dark-white;

    .container {
        max-width: $site-width;
    }

    .hero {
        background-size: cover;
        background-position: center;
        padding: 10rem 0 5rem 0;

        @include mq( small ) {
            padding: 25rem 0 5rem 0;
        }

        &__featured-image {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    & .entry__title {
        background-color: transparent;
        font-size: 4rem;
        line-height: 1;
        padding: 0;
        
        &--light-color {
            color: $color-title-entry__dark-single;    
        }
        &--dark-color {
            color: $color-title-entry__clear-single;
        }
    }

    & .entry__author {
        font-size: 1.2em;
        font-weight: 600;
        margin: 1rem 0;

        &--light-color {
            color: $color-title-entry__dark-single;    

            a { 
                color: $color-title-entry__dark-single; 
                font-weight: normal;
            }
        }
        &--dark-color {
            color: $color-title-entry__clear-single;

            a { 
                color: $color-title-entry__clear-single; 
                font-weight: normal;
            }
        }
    }

    & .entry__time {
        font-size: 1.2em;
        font-weight: 600;
        margin: 1rem 0;
        padding: initial;

        &--light-color {
            color: $color-time-entry__dark-single;    
        }
        &--dark-color {
            color: $color-time-entry__clear-single;
        }
    }  

    & .entry__categories {
        margin: 1rem 0;

        a {
            font-size: 1em;
            font-weight: 700;
            padding: 0.6em 0.9em;
        }
    }

    & .main-content {
        position: relative;
        top: -3rem;
        background-color: $bg-color-main-content-single;
        padding: 1rem;
        border-radius: .5rem .5rem 0 0;

        @include mq( medium ) {
            padding: 2rem 4rem;
        }

        h2, h3, h4, h5, h6 {
            color: darken( $color: $color-paragraph-single, $amount: 15 );
            font-size: 3rem;
            line-height: 1.3;
            margin: 3rem 0;
        }

        p {
            color: $color-paragraph-single;
            font-size: 1.23em;
            line-height: 1.7;
            padding: 1rem 0;
        }
        
        a {
            color: $dark-blue;
        }

        .wp-block-quote {
            border-color: darken( $color: $color-paragraph-single, $amount: 15 );
        }

        .wp-block-quote cite, .wp-block-quote footer {
            color: darken( $color: $color-paragraph-single, $amount: 15 );
            font-size: 1em;
        }

    }

}

