.single {
    $site-width: 1140px;
    background-color: $dark-white;

    .edit-post-anchor {
        text-align: right;

        .post-edit-link {
            display: inline;
    
            @extend %btn-tertiary;   //  Hereda propiedades
        }
    }

    .container {
        max-width: $site-width;
    }

    .hero {
        background-color: $bg-color__hero;
        background-size: cover;
        background-position: center;
        opacity: 0.85;
        padding: 0;

        @include mq( small ) {
            // padding: 25rem 0 5rem 0;
        }

        &__featured-image {
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
        }
    }

    & .entry__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .entry__title {
        background-color: transparent;
        font-size: 4rem;
        line-height: 1;
        padding: 10rem 0;
        
        &--light-color {
            color: $color-time-entry__dark-single;    
            text-shadow: 4px 4px 3px $color-text-shadow__dark-single;
        }
        &--dark-color {
            color: $color-title-entry__clear-single;
            text-shadow: 4px 4px 3px $color-text-shadow__clear-single;
        }
    }

    & p.entry__author {
        align-items: center;
        display: flex;
        font-size: 1.6rem;
        justify-content: center;

        &--light-color {
            color: $color-time-entry__dark-single;    
            text-shadow: 4px 4px 3px $color-text-shadow__dark-single;

            a { 
                color: $color-title-entry__dark-single; 
                font-weight: 600;
                text-shadow: 4px 4px 3px $color-text-shadow__dark-single;
            }
        }
        &--dark-color {
            color: $color-title-entry__clear-single;
            text-shadow: 4px 4px 3px $color-text-shadow__clear-single;

            a { 
                color: $color-title-entry__clear-single; 
                font-weight: 600;
                text-shadow: 4px 4px 3px $color-text-shadow__clear-single;
            }
        }

        .entry__avatar {
            border-radius: 5rem;
            width: 4rem;
        }
    }

    & .entry__time {
        padding: initial;

        &--light-color {
            color: $color-time-entry__dark-single;    
            font-weight: 600;
            text-shadow: 4px 4px 3px $color-text-shadow__dark-single;

            .entry__date,
            .entry__time-read {
                color: $color-time-entry__dark-single;    
                font-weight: 600;
                text-shadow: 4px 4px 3px $color-text-shadow__dark-single;
            }

        }
        &--dark-color {
            color: $color-time-entry__clear-single;
            font-weight: 600;
            text-shadow: 4px 4px 3px $color-text-shadow__clear-single;

            .entry__date,
            .entry__time-read {
                color: $color-time-entry__clear-single;
                font-weight: 600;
                text-shadow: 4px 4px 3px $color-text-shadow__clear-single;
            }
        }

        &-read,
        .entry__date {
            padding: 0 1rem;
        }

        .dashicons, .dashicons-before:before {
            line-height: 1.8;
        }

    }  

    & .entry__categories {
        position: relative;
        top: -3em;
        left: 0;
        width: 100%;

        a {
            font-size: 1em;
            font-weight: 700;
            padding: 0.6em 0.9em;
        }
    }

    & .entry__main-content {
        font-size: 1.23em;
    }

    & .main-content {
        position: relative;
        top: -3rem;
        background-color: $bg-color-main-content-single;
        padding: 1rem;
        border-radius: .5rem .5rem 0 0;

        @include mq( medium ) {
            padding: 2rem 4rem;
        }

        h2, h3, h4, h5, h6 {
            color: darken( $color: $color-paragraph-single, $amount: 15 );
            font-size: 3rem;
            line-height: 1.3;
            margin: 3rem 0;
        }

        p {
            color: $color-paragraph-single;
            line-height: 1.7;
            padding: 1rem 0;
        }
        
        a {
            color: $dark-blue;

            &.post-edit-link{
                color: $dark-white;
            }
        }

        .wp-block-quote {
            border-color: darken( $color: $color-paragraph-single, $amount: 15 );
        }

        .wp-block-quote cite, .wp-block-quote footer {
            color: darken( $color: $color-paragraph-single, $amount: 15 );
            font-size: 1em;
        }

    }

    /** Sidebar Post: Template */
    .template-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 3rem;

        .section {
            &.content {
                flex: 1 0 auto;
            }
        }
        .section {
            &.aside {
                flex: 0 0 38rem;
            }
        }
    }

}

