.single {
    $site-width: 1140px;

    .container {
        max-width: $site-width;
    }


    & .hero {
        background-size: cover;
        background-position: center;
        padding: 10rem 0 5rem 0;

        @include mq( small ) {
            padding: 25rem 0 5rem 0;
        }

        h1 {
            color: $color-h1__hero-single;
            font-size: 3.4rem;
            line-height: 1;
            margin: 0 .2em;
        }

        .entry__time {
            color: $color__hero_entry-time-single;
            font-size: 1em;
            margin: 0 .5em;
            padding: initial;
        }
    }

    .main-content {
        position: relative;
        top: -3rem;
        background-color: $bg-color__main-content-single;
        padding: 1rem;
        border-radius: .5rem .5rem 0 0;

        @include mq( medium ) {
            padding: 1rem 2rem;
        }

        p {
            font-size: 1em;
            line-height: 1.7;
            padding: 1rem 0;
        }
    }

}

