/* Menú menu-header */

.main-menu {
   border-top: 3px solid $color__light-gray;
}

nav.menu-header {
   justify-content: center;
}

/** Menu */
ul.menu {
   align-items: center;
   background-color: $bg-color__menu;
   display: flex;
   flex-direction: column;
   height: 100vh;
   justify-content: start;
   padding: .5rem;
   position: absolute;
   top: 7.2rem;
   left: 0;
   width: $wide-menu;
   max-width: 100%;
   z-index: 3;

   @include mq( medium ) {
      flex-direction: row;
      height: initial;
      justify-content: center;
      padding: 0;
      position: initial;
      width: 100%;
   }

   li {
      display: flex;
      flex-direction: column;
      padding: 0;
      position: relative;

      max-width: 100%;
      width: 100%;

      @include mq( medium ) {
         background-color: transparent;
         padding: 1rem .5rem;
         width: initial;
      }

      &:hover {

         ul {
            display: flex;
            flex-direction: column;    /* Técnicamente esta linea sobra si se desea desplegar verticalmente */
            z-index: 1;
         }
      }
      
      &.current_page_item {
         // border-bottom: .5rem solid $color__red;
      }

   }
}


/** Sub Menu */
ul.sub-menu {
   background-color: $bg-color__submenu;
   display: none;
   left: 0;
   padding: .5rem;
   position: relative;
   top: 0;

   @include mq( medium ) {
      position: absolute;
      top: 100%;
   }

   li {
      padding: 0;

      @include mq( medium ) {
         background-color: transparent;
         padding: 0;
      }

      &:hover {
         @include mq( medium ) {
            border: none;
         }
      }

      a {
         color: $font-color__submenu;
         display: block;
         font-size: 2rem;
         text-align: left;
         text-decoration: none;
         width: 100%;

         @include mq( medium ) {
            font-size: 1.8rem;
            padding: 0;
            width: $wide-submenu;
         }

      }
   }

}


