/* Menú menu-header */

.main-menu {
   border-top: 3px solid $color__light-gray;
}

nav.menu-header {
   justify-content: center;

   ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mq( medium ) {
         flex-direction: row;
      }

      li {
         background-color: $color__green;
         display: flex;
         flex-direction: column;
         padding: 0;
         position: relative;

         @include mq( medium ) {
            background-color: transparent;
            padding: 1rem;
         }

         ul {
            background-color: lighten( $color: $color__orange, $amount: 10 );
            display: none;
            left: 0;
            position: relative;
            top: 0;
            width: calc( 100% + 1.6em );

            @include mq( medium ) {
               position: absolute;
               top: 100%;
            }

            li {
               padding: 0;

               &:hover {
                  @include mq( medium ) {
                     border: none;
                  }
               }

               a {
                  padding: 10px;

                  @include mq( medium ) {
                     padding: 20px;
                  }
               }
            }
         }

         &:hover {
            background-color: lighten( $color: $color__green, $amount: 10 );

            @include mq( medium ) {
               background-color: transparent;
               //border-bottom: .5rem solid lighten( $color: $color__red, $amount: 20 );
            }

            ul {
               display: flex;
               flex-direction: column;    /* Técnicamente esta linea sobra si se desea desplegar verticalmente */
   
               @include mq( medium ) {
                  width: 100%;
               }

               li {
                  background-color: $color__orange;

                  a {
                     color: darken( $color: $color__white, $amount: 10 );

                     &:hover {
                        background-color: lighten( $color: $color__orange, $amount: 10 );
                        color: $color__green;   

                        @include mq( medium ) {
                           // background-color: transparent;
                        }
                     }
                  }
               }

            }
         }
         
         &.current_page_item {
            border-bottom: .5rem solid $color__red;
         }

         a {
            color: $color__white;
            font-size: 2rem;
            padding: 7px;
            text-align: center;
            text-decoration: none;

            @include mq( medium ) {
               color: $color__black;
               font-size: 1.8rem;
               padding: 0;
            }

            &:hover {
               color: $color__orange;

               @include mq( medium ) {
                  color: lighten( $color: $color__black, $amount: 5 );
               }

            }

         }
      }
   }
}