.comment-form {
    display: grid;

    grid-template-areas: 
        "message"
        "author"
        "email"
        "url"
        "comments"
        "consent"
        "button";
    grid-template-rows: auto;  
    grid-template-columns: 1fr;
    grid-gap: .6em;
    background: white;
    padding: 1.2em;   

    label {
        font-size: 14px;
        font-weight: bold;
    }
    label[for='wp-comment-cookies-consent'] {
        font-weight: normal;
    }
    input[type='text'] {
        font-size: 16px;
        padding: 0.6rem;
        width: 95%;

        @include mq( medium ) {
            width: 100%;
        }
    }
    textarea#comment {
        font-family: "Open Sans", sans-serif;
        font-size: 1.6rem;
        width: 95%;
        padding: 0.6rem;
        height: -webkit-fill-available;
    }
    .btn {
        margin-top: 1em;
        width: 100%;
    }

    &-author { grid-area: author; }
    &-email { grid-area: email; }
    &-url { grid-area: url; }
    &-cookies-consent { grid-area: consent; }
    &-comment {
        display: flex;
        flex-direction: column;
        grid-area: comments;
    }

    @include mq( medium ) {
        grid-template-areas: 
            "message message"
            "author comments"
            "email comments"
            "url comments"
            "consent consent"
            "button button";
        grid-template-columns: 18em 1fr;

        .btn {
            width: unset;
        }
    }
}
.comment-notes,
.logged-in-as {
    grid-area: message;
}
.form-submit {
    grid-area: button;
}

.comment-body {
    //border: 1px dotted orange;
    display: grid;

    grid-template-areas: 
        "author"
        "date"
        "comment"
        "button";
    grid-template-rows: auto;  
    grid-template-columns: 1fr;
    grid-gap: .6em;
    background: white;
    padding: 1.2em; 

    @include mq( medium ) {
        grid-template-areas: 
            "author date"
            "comment comment"
            "button button";
        grid-template-columns: 1fr 1fr;
    }
}


.comment {
    .children {
        //border: 1px dotted blue;
        display: grid;
        justify-content: end;
        grid-auto-columns: 100%;
        padding: 0;

        .comment {
            //border: 1px dotted green;
            justify-self: flex-end;
            width: 95%;
        }
    }

    &-author {
        align-items: center;
        display: flex;
        gap: .4em;
        grid-area: author;
    }
    &-meta {
        grid-area: date;
        text-align: end;
    }
    & p {
        grid-area: comment;
    }
    & .reply {
        grid-area: button;
        justify-self: flex-end;

        a {
            padding: .5rem 2rem;
        }

        @include mq( medium ) {
            a {
                width: fit-content;
            }
        }
    }

    &-list {
        padding: 0;
    }

}

a.comment-reply-link {
    @extend %btn-primary;   //  Hereda propiedades
}

#cancel-comment-reply-link {
    @extend %btn-tertiary;   //  Hereda propiedades
}

.form-logged-in .comment-form-comment {
    grid-area: author;
    grid-column: 1 / 3;
    grid-row: 2 / 6;

}