#site-container {
    margin-top: -2rem;

    &.front-page,
    &.single,
    &.archive {
        margin-top: 8rem;
    }

    &.blog,
    &.archive {
        margin-top: 4.74rem;
    }

    @include mq( small ) {
        margin-top: 0;
    }

    @include mq( medium ) {
        margin-top: 2rem;
    }
}