#site-container {
    margin-top: -2rem;

    &.front-page,
    &.blog,
    &.single {
        margin-top: 8rem;
    }

    @include mq( small ) {
        margin-top: 0;
    }

    @include mq( medium ) {
        margin-top: 2rem;
    }
}