.entry {    // Block
    border: 1px dotted rebeccapurple;
    box-sizing: border-box;

    &__content {
        border: 1px dotted purple;
        box-sizing: border-box;
    }

    &__featured-image {
        // border: 2px dotted orangered;
        // box-sizing: border-box;
    }

    &__content {
        border: 2px dotted red;
        box-sizing: border-box;

        // > * {
        //     border: 2px dotted red;
        //     box-sizing: border-box;
        // }
    }

    &__header,
    &__excerpt,
    &__footer {
        border: 2px dotted orange;
        box-sizing: border-box;
    }

}

.entry-featured {

    &__content {
        &--position {
            background-color: green;

            @include mq( small ) {
                background-color: lawngreen;
            }
            @include mq( medium ) {
                background-color: hotpink;
            }
            @include mq( large ) {
                background-color: greenyellow;
            }

        }
    }
    
}

.featured-panel {
    border: 2px dotted blue;
    box-sizing: border-box;
}