/* Explicacion Digital - Palete Colors */
$dark-blue: #05668D;
$light-blue: #427AA1;
$dark-white: #FFF8F0;
$dark-green: #679436;
$light-green: #A5BE00;

/* Tradicional Colors */
$white: #FFFFFF;
$light-gray: #C1C1C1;
$gray: gray;
$black: #000000;
$transparent: transparent;

/* Header Component */
$bg-color__header: $dark-white;
$color__search-icon: $light-blue;

/* Main Menu Component */
$border-color__main-menu: orange;
$bg-color-ul__menu: $dark-white;
$bg-color-ul__sub-menu: $dark-white;
$color-a__sub-menu: red;

/* Icon Menu Component */
$bg-color__menu-icon: $dark-white;
$bg-color__menu-bars: $light-blue;

/* Single Component */
$bg-color__hero: $dark-green;

$color-title-entry__dark-single: $dark-white;
$color-title-entry__clear-single: darken( $color: $dark-blue, $amount: 10 );

$color-author-entry__dark-single: $dark-white;
$color-author-entry__clear-single: darken( $color: $dark-blue, $amount: 10 );

$color-time-entry__dark-single: $dark-white;
$color-time-entry__clear-single: darken( $color: $dark-blue, $amount: 10 );

$color-text-shadow__dark-single: $black;
$color-text-shadow__clear-single: $white;

$bg-color-main-content-single: $white;
$color-paragraph-single: $gray;

/* Blog Component */
$color_number__info_blog: lighten( $gray, 20 );
$color_description__info_blog: lighten( $gray, 10 );

/* Post Featured Component */
$bg-color__posts-featured: $white;
$bg-color__posts-featured-home: $white;

/* Search Component */
$bg-color__search: green;
$color-placeholder-input__search: pink;

/** Hero Component */
$bg-color__hero: lighten( $light-blue, 50% );
$border-color__hero: lighten( $light-blue, 40% );
$color-title__hero: $dark-blue;

/* Button go up Component */
$bg-btn_go-up: $light-green;
$color-btn_arrow-go-up: $dark-white;

/* Has no featured image Component */
$bg_has-no-featured-image: $dark-white;
$bg-icon_has-no-featured-image: $light-blue;
$color-p_has-no-featured-image: $light-blue;
$color-border__has-no-featured-image: $light-blue;

/** Buttons */
$buttons: (
    // name-button: ( background, text, border )
    primary:   ( $dark-blue, $dark-white, $dark-white ),
    secondary: ( $dark-white, $dark-blue, $dark-white ),
    tertiary:  ( $dark-green, $dark-white, $dark-white ),
    outline-primary:    ( $dark-white, $light-blue, $light-blue ),
    outline-secondary:  ( $dark-white, $dark-blue, $dark-blue ),
    outline-tertiary:   ( $dark-white, $dark-green, $dark-green ),
    featured-tab:  ( $transparent, $black, $transparent )
);
