/* Explicacion Digital - Palete Colors */
$dark-blue: #05668D;
$light-blue: #427AA1;
$dark-white: #FFF8F0;
$dark-green: #679436;
$light-green: #A5BE00;

/* Tradicional Colors */
$white: #FFFFFF;
$gray: #C1C1C1;
$black: #000000;
$transparent: transparent;

/* Header Component */
$bg-color__header: $dark-white;

/* Main Menu Component */
$border-color__main-menu: orange;
$bg-color-ul__menu: $dark-white;
$bg-color-ul__sub-menu: $dark-white;
$color-a__sub-menu: red;

/* Icon Menu Component */
$bg-color__menu-icon: $dark-white;
$bg-color__menu-bars: $light-blue;


/* Single Component */
$color-h1__hero-single: green;
$color__hero_entry-time-single: $dark-white;
$bg-color__main-content-single: $dark-white;

/* Post Featured Component */
$bg-color__posts-featured: $white;
$bg-color__posts-featured-home: $white;

/* Search Component */
$bg-color__search: green;
$color-placeholder-input__search: pink;

/** Hero Component */
$bg-color__hero: $dark-white;
$border-color__hero: darken( $dark-white, 10% );
$color-title__hero: $dark-blue;

/* Smooth scroll Component */
$bg-btn_smooth-scroll: $light-green;
$color-arrow_smooth-scroll: $dark-white;

/* Has no featured image Component */
$bg_has-no-featured-image: $dark-white;
$bg-icon_has-no-featured-image: $light-blue;
$color-p_has-no-featured-image: $light-blue;

/** Buttons */
$buttons: (
    // name-button: ( background, text, border )
    primary:   ( $dark-blue, $dark-white, $dark-white ),
    secondary: ( $dark-white, $dark-blue, $dark-white ),
    tertiary:  ( $dark-green, $dark-white, $dark-white ),
    outline-primary:    ( $dark-white, $light-blue, $light-blue ),
    outline-secondary:  ( $dark-white, $dark-blue, $dark-blue ),
    outline-tertiary:   ( $dark-white, $dark-green, $dark-green ),
    featured-tab:  ( $transparent, $black, $transparent )
);
