// Maps: Iconos Redes Sociales (Code Icon FontAwesome)
$social-networking: (
  'facebook.com': 'facebook.svg',
  'instagram.com': 'instagram.svg',
  'twitter.com': 'twitter.svg',
  'youtube.com': 'youtube.svg'
); 

$search-icon: 'buscador.png';

$dashicons-social-networking: (
  'facebook.com': 'f304',
  'twitter.com': 'f301',
  'instagram.com': 'f12d',
  'pinterest.com': 'f192',
  'youtube.com': 'f19b',
  'linkedin.com': 'f18d'
); 