// Site variables.
$site-width: 1240px;
$wide-width: 1240px;
$wide-menu: 250px;
$wide-submenu: 160px;
$wide-menu-icon: 35px;

$padding-left: 15px;
$padding-right: 15px;

$margin-top: 40px;
$margin-bottom: 40px;

// mq breakpoints.
$mq-breakpoints: (
	small: 600px,
	medium: 768px,
	large: 1024px,
	xlarge: 1240px,
	xxlarge: 1440px
) !default;

// Font sizes
$overall-font-size: 62.5%;      //  Valor para que cada 1rem represente 10px (ver -> https://nekocalc.com/es/px-a-rem-conversor)