header#header {
    border: 1px dotted orange;
    box-sizing: border-box;

    & > div {
        border: 1px dotted red;
        box-sizing: border-box;
    }

    ul {
        border: 1px dotted green;
        box-sizing: border-box;

        &.menu li a {
            border: 1px dotted purple;
            box-sizing: border-box;
        }

    }

    ul {
        border: 1px dotted green;
        box-sizing: border-box;

        &.sub-menu li a {
            border: 1px dotted blue;
            box-sizing: border-box;
        }

    }

    #search {
        border: 1px dotted blue;
        box-sizing: border-box;

        #search-form {

            & > * {
                border: 1px dotted fuchsia;
                box-sizing: border-box;
            }

        }
    }

    #search-icon {
        border: 1px dotted orange;
        box-sizing: border-box;
    }
}