header {
    border: 1px solid orange;
    box-sizing: border-box;

    & > div {
        border: 1px solid red;
        box-sizing: border-box;
    }

    ul {
        border: 1px solid green;
        box-sizing: border-box;

        &.menu li a {
            border: 1px solid purple;
            box-sizing: border-box;
        }

    }

    ul {
        border: 1px solid green;
        box-sizing: border-box;

        &.sub-menu li a {
            border: 1px solid blue;
            box-sizing: border-box;
        }

    }

    .search-form {
        border: 1px solid blue;
        box-sizing: border-box;
    }
}