.entries {

    &-blog {
        border: 1px dotted greenyellow;
        box-sizing: border-box;
    }

    &-pagination {
        border: 1px dotted orange;
        box-sizing: border-box;
    }

}

.entry {
    &-blog {
        border: 1px dotted green;
        box-sizing: border-box;
    }
}