.post-featured {

    &-link {
        border: 1px dotted blue;
        box-sizing: border-box;
    }

    &-media {
        border: 1px dotted olive;
        box-sizing: border-box;
    }
    &-content {
        border: 1px dotted orchid;
        box-sizing: border-box;
    }

    &-category {
        border: 1px dotted yellowgreen;
        box-sizing: border-box;
    }
    &-title {
        border: 1px dotted green;
        box-sizing: border-box;
    }
    &-footer {
        border: 1px dotted goldenrod;
        box-sizing: border-box;
    }

}