html {
	box-sizing: border-box;
	font-size: $overall-font-size;		//	variables
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
	@include font-family();				//	mixin

	font-size: 1.6rem;
	line-height: 2;
}

/** Headings */
h1 { @include body-text( h1 ); }
h2 { 
	@include body-text( h2 ); 
	a { color: $dark-blue; }
	a:hover { color: $light-blue; }
}
h3 { @include body-text( h3 ); }
h4 { @include body-text( h4 ); }
h5 { @include body-text( h5 ); }
h6 { @include body-text( h6 ); }

h1, h2, h3, h4, h5, h6 {
	font-family: $font__headers;
	margin: 1rem 0;
	text-rendering: optimizelegibility;
}

p {
	font-size: 1em;
	line-height: 1.6;
}

img {
	height: auto;
	max-width: 100%;
	width: 100%;
}

img.custom-logo {
    width: 116px;
}

a {
	text-decoration: none;
	color: $color__icon-social;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0 4rem 0 0;
}
 
li {
	padding: .5rem 0;
}