.text-center {
    text-align: center;
}

.is-active {
    display: flex;
}

.has-no-featured-image {
    border: 1px dotted $color-border__has-no-featured-image;

    background-color: $bg_has-no-featured-image;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0 0 0;

    p {
        color: $color-p_has-no-featured-image;
        font-size: 1.35rem;
        line-height: 1.2;
        text-align: center;
    }

    .dashicons-camera-alt {
        align-items: flex-end;
        display: flex;
        font-size: 4rem;
        justify-content: center;

        &::before {
            color: $bg-icon_has-no-featured-image;
        }

    }

}

.entry {
    &-classic {
        .has-no-featured-image {
            height: 190px;
            width: 100%;

            @include mq( medium ) {
                width: 400px;
                height: 266px;
            }
        }
    }
    &-last {
        margin: 1.7rem 0;

        .has-no-featured-image {
            height: 190px;
            width: 100%;

            @include mq( medium ) {
                height: 360px;
            }
        }
    }
    &-popular,
    &-recommended {
        .has-no-featured-image {
            height: calc( 300px / 2.2 );
            max-height: 300px;
            max-width: 300px;
            width: calc( 300px / 2.2 );

            @include mq( medium ) {
                height: calc( 300px / 1.73 );
                width: calc( 300px / 1.73 );
            }
        }
        .entry__time {
            padding: 0.1em;
        }
    }
}


.top-anchor {
    display: none;
}

#btn-telegram {
    align-items: center;
    background-image: background_url_icons( 'telegram.svg' );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    bottom: 24px;
    display: flex;
    height: 50px;
    justify-content: center;
    position: fixed;
    right: 20px;
    transition: all 0.5s ease-out;
    width: 50px;
    z-index: 1;

    &:hover {
        cursor:pointer;
    }

    .dashicons-arrow-up-alt::before {
        color: $color-btn_arrow-go-up;
    }

}

#btn-go-up {
    align-items: center;
    background: $bg-btn_go-up;
    border-radius: 50%;
    bottom: 24px;
    display: none;  //display: flex;
    height: 50px;
    justify-content: center;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 9999;
    

    &:hover {
        cursor:pointer;
    }

    .dashicons-arrow-up-alt::before {
        color: $color-btn_arrow-go-up;
    }

}