.posts-featured {
    background: #f5f5f5;
    border-bottom: 1px solid #eee;
    padding-top: 85px;
    padding-bottom: 30px;

    &-sidebar {
        @include mq( medium ) {
            flex: 1 0 30%;
        }
    }

    .last-post {
        @include mq( medium ) {
            flex: 1 0 70%;
        }
    }

}

.post {

    &-media {

        img {
            width: 100%;
            
            @include mq( large ) {
                width: 95%;
            }
        }
    }
}

.post-featured {

    &-link {
        border: 1px dotted;
        box-sizing: border-box;

        display: flex;
        flex: 1 0 100%;
        padding: 1rem;

        @include mq( small ) {
            flex: 1 0 50%;
        }

        @include mq( medium ) {
            flex: 1 0 100%;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &-title {
        font-size: .9em;
        line-height: 1.1;
        margin: 0;
        color: #4d4d4d;
        word-wrap: break-word;
    }

    &-media {
        flex: 0 1 125px;

        img {
            object-fit: cover;
        }
    }
    &-content {
        flex: 1 0 70%;
    }

}

.featured {

    &-content {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mq( large ) {
            flex-direction: row;
        }
    }

    &-panel {
        display: none;
        
        &.is-active {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &-tab {
        @extend %btn-featured-tab;
        border-radius: 0;

        &.current-tab-item {
            border-bottom: 2px solid red;
        }
    }

    &-tabs {
        display: flex;    
    }

}

