.hero {
    background-color: $bg-color__hero;
    border-bottom: 1px solid $border-color__hero;
    margin: 6rem 0 0 0;
    padding: 2rem;

    .container {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__title {
        color: $color-title__hero;
        flex: 1 0 auto;
    }

    &__data {
        align-items: center;
        display: flex;
        flex: 0 1 27rem;
        flex-direction: row;
        justify-content: space-between;

        text-align: center;

        span {
            display: block;
        }

        .hero__number {
            color: $color_number__info_blog;
            font-size: 3rem;
        }

        .hero__description {
            color: $color_description__info_blog;
            font-weight: 600;
        }
    }
}