/** Blog */
.home {

    .posts-featured {
        background: $color__white;
        border: none;
        padding-top: initial;
        padding-bottom: initial;
    }

    .hero {

        .container {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__title {
            flex: 1 0 auto;
        }

        &__data {
            align-items: center;
            display: flex;
            flex: 0 1 16%;
            flex-direction: row;
            justify-content: space-between;
    
            text-align: center;
    
            span {
                display: block;
            }
        }
    }

}


.entries-blog {

    display: grid;
    gap: 0 2rem;

    @include mq( medium ) {
        grid-template-columns: repeat( 2, 1fr );
    }

    @include mq( large ) {
        grid-template-columns: repeat( 3, 1fr );
    }

    & .entry {    // Block
        $width-image: 992px;
    
        &__image {
    
            &--rounded {
                height: calc( #{ $width-image } / 4 );
            }
        }

        &__content {
    
            &--size {
                max-width: $width-image;
                width: 100%;
            }
        }
        
    }

}

.paginate, 
.pagination {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
}

.page-numbers {
    @extend %btn-secondary;     //  Hereda propiedades
    padding: 1rem 2rem;

    &.current {
        @extend %btn-primary;   //  Hereda propiedades
    }

}
