/** Blog */
.entries {

    &-blog {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.entry {
    &-blog {
        flex: 0 0 100%;
        margin: 1rem 0;

        @include mq( small ) {
            flex: 0 0 48%;
        }
        @include mq( medium ) {
            flex: 0 0 32%;
        }

        &:first-child {
            flex: 0 0 100%;
        }

        @include mq( small ) {

            &:nth-last-child( -n + 3 ) {
                flex: 0 0 32%;
            }
        }
          
    }

    &-info {
        border-radius: .5em .5em 0 0;
        padding: .5em .3em 0 .3em;
    }
    &-title {
        font-size: 1.2em;
        margin: .5em 0 0 0;
    }
    &-excerpt {
        font-size: .925em;
        line-height: 1.5;
        padding: 0 .3em;
    }
    &-footer {
        border-radius: 0 0 .5em .5em;
        font-size: .8em;
        padding: 0 .3em;
    }

    & &-info,
    & &-excerpt,
    & &-footer {
        background-color: $bg-color__entry;
        margin: 0 auto;
        position: relative;
        top: -2em;
        width: 87%;
    }

    .entry-catetory a {
        border: 1px solid blue;
        border-radius: .5rem;
        font-size: .8em;
        padding: .4em .8em;
    }

    .entry-link {

        &.entry-thumbnail img {
            border-radius: .5rem;
        }
    }
}

.paginate, 
.pagination {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
}

.page-numbers {
    @extend %btn-secondary;     //  Hereda propiedades
    padding: 1rem 2rem;

    &.current {
        @extend %btn-primary;   //  Hereda propiedades
    }

}
