/** Blog */
.entry {

    &-blog {
        border-bottom: 1px solid $color__green;
        margin-bottom: 2rem;
        padding: 3.5rem 0;

        &:last-of-type {
            border: none;
        }

        p {
            margin: 3rem 0;
            line-height: 1.5;
        }
    }

    &-info {
        display: grid;
        gap: 1rem 2rem;
        grid-template-columns: 8rem 1fr;

        time {
            align-items: center;
            display: flex;
            flex-direction: column;
            line-height: 1;
            justify-content: center;

            &.entry-date {
                background-color: $color__orange;
                font-family: $font__headers;
                font-size: 3rem;
                font-weight: 700;
                height: 8rem;
                grid-row: 1 / 3;

                span {
                    display: block;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                }
            }
        }

        h2.entry-title {
            font-size: 2.6rem;
            margin: 0;
        }

        p.entry-author {
            font-family: $font__headers;
            margin: 0;

            span {
                color: $color__green;
                font-size: 2rem;
                font-weight: 700;
            }
        }
        
    }

}

.paginate, 
.pagination {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
}

.page-numbers {
    @extend %btn-secondary;     //  Hereda propiedades
    padding: 1rem 2rem;

    &.current {
        @extend %btn-primary;   //  Hereda propiedades
    }

}
