.hero {
    align-items: center;
    background-color: $color__green;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 45rem;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    text-align: center;

    &::after {
        background-color: rgba( 0, 0, 0, .6 );
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    h1 {
        color: $color__white;
        position: relative;
        z-index: 1;
    }
}