.entry {    // Block
    $width-image: 992px;

    display: flex;
    flex-direction: column;

    &__thumbnail { 
        align-items: center;
        display: flex;
        justify-content: center;
        
        &--position {
            position: relative;
            bottom: -2em;
        }
    }
    &__image {
        max-width: $width-image;
        width: 100%;

        &--rounded {
            border-radius: .5em;
            height: calc( #{ $width-image } / 2.4 );
            object-fit: cover;
        }
    }

    &__content {
        margin: 0 auto;

        &.entry-featured__content--position {
            align-items: center;
            background-color: pink;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        &--size {
            max-width: $width-image;
        }
        &--position {
            position: relative;
            top: -2em;
        }

        & > *:not( :first-child ) {
            background-color: white;
        }

        .entry__categories {
            font-size: .8em;
        }
    }

    &__header,
    &__excerpt,
    &__footer {
        margin: 0 auto;
        width: 95%;
    }

    &__title {
        background-color: white;
        border-radius: .2em .2em 0 0;
        margin: 0;
        padding: .6em;
    }

    &__excerpt,
    &__time {
        padding: .1em .6em;
    }

}

.entry-featured {
    $width-image: 300px;

    &__content {
        &--position {
            flex-direction: row;
            // padding: .8rem 0;
            width: 100%;

            @include mq( small ) {}
            @include mq( medium ) {
                width: 49%;
            }
            @include mq( large ) {
                width: 100%;
            }

        }
    }

    &__thumbnail {    
        &--position {}
    }
    &__image {
        max-width: $width-image;
        width: calc( #{ $width-image } / 2.2 );

        &--rounded {
            border-radius: .3em;
        }
    }

    &__title {
        font-size: .9em;

        @include mq ( small ) {
            font-size: 1em;
        }
    }

    &__time-read,
    &__date {
        font-size: .8em;
    }

}