.entry {    // Block
    $width-image: 992px;

    display: flex;
    flex-direction: column;

    &__thumbnail {
        align-items: center;
        display: flex;
        justify-content: center;

        &--position {
            position: relative;
            bottom: -1.25em;
        }
    }
    &__image {
        max-width: $width-image;
        width: 100%;

        &--rounded {
            border-radius: .5em;
            height: calc( #{ $width-image } / 2.4 );
            object-fit: cover;
        }
    }

    &__content {
        margin: 0 auto;

        &.entry-featured__content--position {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        &--size {
            max-width: $width-image;
        }
        &--position {
            position: relative;
            top: -1.25em;
        }

        & > *:not( :first-child ) {
            background-color: $bg-color__posts-featured;
        }
    }

    &__header,
    &__excerpt,
    &__footer {
        margin: 0 auto;
        width: 95%;
    }

    &__title {
        background-color: $bg-color__posts-featured;
        border-radius: .2em .2em 0 0;
        margin: 0;
        padding: .6em;
    }

    &__excerpt,
    &__time {
        padding: .1em .6em;
    }

}

.blog {

    & .entry {
        &__title,
        &__excerpt,
        &__footer {
            background-color: $bg-color__posts-featured-home;
        }
    }

    & .entry-featured__content--position {
        position: relative;
        top: -1.25em;
    }
}

.front-page {
    & .entry-featured__content--position {
        width: 100%;

        @include mq( medium ) {
            width: 49%;
        }
        @include mq( large ) {
            width: 100%;
        }
    }

}

.entry-featured {
    $width-image: 300px;
    z-index: 1;

    &__content {
        &--position {
            flex-direction: row;
            // padding: .8rem 0;
            width: 100%;
        }
    }

    &__image {
        max-width: $width-image;
        width: calc( #{ $width-image } / 2.2 );

        &--rounded {
            border-radius: .3em;
        }
    }

    &__title {
        font-size: .9em;

        @include mq ( small ) {
            font-size: 1em;
        }
    }

    &__time-read,
    &__date {
        font-size: .8em;
    }

}

.entry__categories {
    position: relative;
    top: -.5em;

    a {
        background-color: white;
        border-radius: .3em;
        color: gray;
        font-size: .8em;
        font-weight: 700;
        padding: .3em .6em;

        &:hover {
            color: gray;
        }
    }

}

.posts-featured-sidebar {
    .entry__categories {
        position: relative;
        top: initial;
    
        a {
            border: 1px solid black;
            color: black;
            font-weight: normal;
            padding: .2em .4em;
    
            &:hover {
                color: black;
            }
        }
    
    }    
}